{% extends 'base.html' %}
{% load static %}

{% block link %}
<link rel="stylesheet" href="{% static 'css/style_form.css' %}">
{% endblock %}

{% block content %}
    <div class="chapter-container">
        <h1 class="chapter-title">{{ chapter.title }}</h1>
        <div class="chapter-text">
            {% for scen in scenes %}
                <h4>{{ scen.title }}</h4>
                <p>{{ scen.text }}</p>
                <form id="text-scene-created-{{ scen.scene_number }}" method="post">
                    {% csrf_token %}
                    <input type="text" class="text-scene-input" name="text" value="{{ scen.text }}">
                    <input type="hidden" name="scene_number" value="{{ scen.scene_number }}">
                    <input type="submit" value="Отправить">
                </form>
            {% endfor %}    
        </div>

        <div class="navigation-buttons">
            {% if previous_chapter %}
                <a class="button" href="{% url 'chapter' slug previous_chapter %}">Предыдущая глава</a>
            {% endif %}
            {% if next_chapter %}
                <a class="button" href="{% url 'chapter' slug next_chapter %}">Следующая глава</a>
            {% endif %}    
        </div>
        <button class="create-chapter">Добавить сцену</button>
        <form class="form_modal" id="form-create-chapter" method="post">
            <span class="close-button-create">&times;</span>
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Добавить">
        </form>

        <button class="toggle-chapters">Показать список глав</button>
    </div>

    <div class="chapter-list-modal" id="chapterListModal">
        <div class="modal-content">
            <span class="close-button">&times;</span>
            <h2>Список глав</h2>
            <ul>
                {% for chapt in chapters %}
                    <li><a class="list" href="{% url 'chapter' slug chapt.chapter_number %}">Глава: {{ chapt.chapter_number }} - {{ chapt.title }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
{% endblock %}

{% block js %}
{{ chapter.slug|json_script:"json-chaptername" }}
{{ chapter.chapter_number|json_script:"json-chapternumber" }}
<script>
    const chapterName = JSON.parse(document.getElementById('json-chaptername').textContent)
    const chapterNumber = JSON.parse(document.getElementById('json-chapternumber').textContent)
    const sceneSocket = new WebSocket(
        'ws://'
        + window.location.host
        + '/ws/'
        + chapterName
        + '/'
        + chapterNumber
        + '/'
    )

    sceneSocket.onmessage = function(e) {
        console.log('onmessage')
    }

    sceneSocket.oncloce = function(e) {
        console.log('oncloce')
    }
</script>

{% endblock %}